# Dependencies
node_modules/
package-lock.json

# Production
build/
dist/

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Logs
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
thumbs.db
ehthumbs.db
Desktop.ini

# Specific to project
dev
/medios/ole.js
